<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLSchemes</key>
	<string>com.googleusercontent.apps.91938778152-cv3t36g2t4qmfof88904guofu41p2miq</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.91938778152-cv3t36g2t4qmfof88904guofu41p2miq</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
